.favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;

  .view-favorites {
    color: #77c9b8;
    font-size: 1.2rem;
    margin: 20px 0 0;
  }

  .favorite {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;

    &:first-of-type {
      margin-top: 20px;
    }

    h3 {
      margin: 0 0 5px;
    }

    p {
      font-size: 0.8rem;
    }

    .delete {
      color: #ff8eaf;
      cursor: pointer;
      margin: 0 0 5px;
    }
  }
}
