.filters-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .fields {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 180px;
    width: 100%;

    .field {
      display: flex;
      flex-direction: column;
      margin-top: 5px;

      &:first-of-type {
        margin-top: 0;
      }

      .starts-with {
        align-self: center;
        width: 34px;
      }

      label {
        font-size: 0.8rem;
        margin: 0 0 5px;
      }
    }
  }
}
